backup/2026/06/XxOrZZPOy4fzHpW1.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-18T17:44:32.000Z",
    "createdAt": "2026-06-18T17:44:29.832Z",
    "versionId": "625aa173-afe8-498b-a60e-5207139e8b26",
    "workflowId": "XxOrZZPOy4fzHpW1",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.flodesk.com/v1/subscribers",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"email\": \"{{ $('Transacción en Hotmart').item.json.body.data.buyer.email }}\",\n  \"first_name\": \"{{ $('Transacción en Hotmart').item.json.body.data.buyer.name }}\",\n  \"segment_ids\": [\"6a29f69f6d89d0be082aaa7e\"]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          -432
        ],
        "id": "25261383-a2bb-42d3-9acd-d476b8abd9df",
        "name": "Agregar a Flodesk",
        "retryOnFail": false,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "hSaP4d59L4OoJOce",
            "name": "Flodesk Alex"
          },
          "httpBasicAuth": {
            "id": "jwNOGTuXMrnIE2QR",
            "name": "FLODESK PROFE"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api2.skool.com/groups/el-salon-de-la-profe-monica-9200/webhooks/b8cce9e9d7254c2e84c62f69bbdb73fc?email={{ $json.body.data.buyer.email }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"email\": \"{{ $json.body.data.buyer.email }}\",\n  \"name\": \"{{ $json.body.data.buyer.name }}\",\n  \"send_email\": true\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          128,
          -320
        ],
        "id": "3624768d-75d3-4b04-9a1a-5386d1612edc",
        "name": "Agregar a Skool",
        "credentials": {
          "httpHeaderAuth": {
            "id": "hYFYHBVnArTRzZzO",
            "name": "PROFE SKOOL API"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "compracompletada-salonprofe",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -656,
          -80
        ],
        "id": "734157b0-3b09-4e33-8449-1d6f410f1751",
        "name": "Transacción en Hotmart",
        "webhookId": "51b4c630-f2a1-4bcf-b6bd-570d39b5af9c"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.event }}",
                      "rightValue": "PURCHASE_APPROVED",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "4d58b8ff-ed09-4b42-9f66-a22137c1c29a"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "54484fe3-6fd8-4f3d-b47e-210225671768",
                      "leftValue": "={{ $json.body.event }}",
                      "rightValue": "PURCHASE_REFUNDED",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "9f9328ea-d47b-4cd9-9911-094d55462d1a",
                      "leftValue": "={{ $json.body.event }}",
                      "rightValue": "SUBSCRIPTION_CANCELED",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -384,
          -96
        ],
        "id": "b04542f2-0e7e-4d2a-a5a2-b8ffb76b75ea",
        "name": "Aprobado / Cancelado - Reembolsado"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://api2.skool.com/groups/el-salon-de-la-profe-monica-9200/webhooks/b8cce9e9d7254c2e84c62f69bbdb73fc?email={{ $json.body.data.buyer.email }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"email\": \"{{ $('Transacción en Hotmart').item.json.body.data.buyer.email }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          80,
          64
        ],
        "id": "7db3d143-1f89-4cee-8a30-2986787dc9e3",
        "name": "Eliminar de Skool",
        "credentials": {
          "httpHeaderAuth": {
            "id": "hYFYHBVnArTRzZzO",
            "name": "PROFE SKOOL API"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://unnichat.com.br/a/start/EhsM0SkIAo7ZX84JFKaK",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"data\": {\n    \"number\": \"{{ $('Transacción en Hotmart').item.json.body.data.buyer.checkout_phone }}\",\n    \"tag\": \"Aprobado SPM\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          -208
        ],
        "id": "a16d6599-4bef-4f1d-9d52-6c18443cc137",
        "name": "Unnichat [Aprobado]"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://unnichat.com.br/a/start/tTLonzJMKttAHlVBxpYt",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"data\": {\n    \"number\": \"{{ $('Transacción en Hotmart').item.json.body.data.buyer.checkout_phone }}\",\n    \"tag\": \"Aprobado SPM\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          320,
          208
        ],
        "id": "8bfb44f0-acdf-421a-87c4-52cac0b1054f",
        "name": "Unnichat [Cancelado / Reembolsado]"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.flodesk.com/v1/subscribers",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"email\": \"{{ $('Transacción en Hotmart').item.json.body.data.buyer.email }}\",\n  \"first_name\": \"{{ $('Transacción en Hotmart').item.json.body.data.buyer.name }}\",\n  \"segment_ids\": [\"6a29f69f6d89d0be082aaa7e\"]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          320,
          -16
        ],
        "id": "457bd43e-69ca-43bf-b730-de32dc72cab2",
        "name": "Flodesk [Nuevo segmento]",
        "retryOnFail": false,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "hSaP4d59L4OoJOce",
            "name": "Flodesk Alex"
          },
          "httpBasicAuth": {
            "id": "jwNOGTuXMrnIE2QR",
            "name": "FLODESK PROFE"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://api.flodesk.com/v1/subscribers/{{ $('Transacción en Hotmart').item.json.body.data.buyer.email }}/segments",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"segment_ids\": [\"6a2a14990f8cce81fcadc44d\"]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          592,
          -16
        ],
        "id": "6ad8d31f-b2e7-42dd-96ab-a7a4d6f87f5e",
        "name": "Flodesk [Eliminar del segmento alumno]",
        "credentials": {
          "httpBasicAuth": {
            "id": "jwNOGTuXMrnIE2QR",
            "name": "FLODESK PROFE"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.data.purchase.recurrence_number.toString() }}",
                      "rightValue": "=1",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "89664292-7a36-4595-96d0-97843fd8eae7"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "3c07bcc3-aeca-4708-b928-7db24ed5c7c1",
                      "leftValue": "={{ $json.body.data.purchase.recurrence_number.toString() }}",
                      "rightValue": "=1",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -112,
          -304
        ],
        "id": "b040ff3e-dd31-4b1c-91ed-d88479f3173c",
        "name": "Compra o renovación"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.data.purchase.recurrence_number.toString() }}",
                      "rightValue": "=1",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "89664292-7a36-4595-96d0-97843fd8eae7"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "3c07bcc3-aeca-4708-b928-7db24ed5c7c1",
                      "leftValue": "={{ $json.body.data.purchase.recurrence_number.toString() }}",
                      "rightValue": "=1",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -160,
          -80
        ],
        "id": "0e23867c-b1eb-43a1-bb6d-d261b2320927",
        "name": "Compra o renovación1"
      }
    ],
    "connections": {
      "Agregar a Flodesk": {
        "main": [
          []
        ]
      },
      "Agregar a Skool": {
        "main": [
          [
            {
              "node": "Agregar a Flodesk",
              "type": "main",
              "index": 0
            },
            {
              "node": "Unnichat [Aprobado]",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transacción en Hotmart": {
        "main": [
          [
            {
              "node": "Aprobado / Cancelado - Reembolsado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aprobado / Cancelado - Reembolsado": {
        "main": [
          [
            {
              "node": "Compra o renovación",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Compra o renovación1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Eliminar de Skool",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Eliminar de Skool": {
        "main": [
          [
            {
              "node": "Unnichat [Cancelado / Reembolsado]",
              "type": "main",
              "index": 0
            },
            {
              "node": "Flodesk [Nuevo segmento]",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Flodesk [Nuevo segmento]": {
        "main": [
          [
            {
              "node": "Flodesk [Eliminar del segmento alumno]",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compra o renovación": {
        "main": [
          [
            {
              "node": "Agregar a Skool",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compra o renovación1": {
        "main": [
          [],
          [
            {
              "node": "Eliminar de Skool",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "BE Online",
    "name": "Version 625aa173",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "625aa173-afe8-498b-a60e-5207139e8b26",
  "connections": {
    "Agregar a Flodesk": {
      "main": [
        []
      ]
    },
    "Agregar a Skool": {
      "main": [
        [
          {
            "node": "Agregar a Flodesk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Unnichat [Aprobado]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transacción en Hotmart": {
      "main": [
        [
          {
            "node": "Aprobado / Cancelado - Reembolsado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aprobado / Cancelado - Reembolsado": {
      "main": [
        [
          {
            "node": "Compra o renovación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compra o renovación1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Eliminar de Skool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar de Skool": {
      "main": [
        [
          {
            "node": "Unnichat [Cancelado / Reembolsado]",
            "type": "main",
            "index": 0
          },
          {
            "node": "Flodesk [Nuevo segmento]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flodesk [Nuevo segmento]": {
      "main": [
        [
          {
            "node": "Flodesk [Eliminar del segmento alumno]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compra o renovación": {
      "main": [
        [
          {
            "node": "Agregar a Skool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compra o renovación1": {
      "main": [
        [],
        [
          {
            "node": "Eliminar de Skool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-10T23:32:51.311Z",
  "id": "XxOrZZPOy4fzHpW1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Profe - SPM - Compra Aprobada",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.flodesk.com/v1/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $('Transacción en Hotmart').item.json.body.data.buyer.email }}\",\n  \"first_name\": \"{{ $('Transacción en Hotmart').item.json.body.data.buyer.name }}\",\n  \"segment_ids\": [\"6a29f69f6d89d0be082aaa7e\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -432
      ],
      "id": "25261383-a2bb-42d3-9acd-d476b8abd9df",
      "name": "Agregar a Flodesk",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hSaP4d59L4OoJOce",
          "name": "Flodesk Alex"
        },
        "httpBasicAuth": {
          "id": "jwNOGTuXMrnIE2QR",
          "name": "FLODESK PROFE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api2.skool.com/groups/el-salon-de-la-profe-monica-9200/webhooks/b8cce9e9d7254c2e84c62f69bbdb73fc?email={{ $json.body.data.buyer.email }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.body.data.buyer.email }}\",\n  \"name\": \"{{ $json.body.data.buyer.name }}\",\n  \"send_email\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        -320
      ],
      "id": "3624768d-75d3-4b04-9a1a-5386d1612edc",
      "name": "Agregar a Skool",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hYFYHBVnArTRzZzO",
          "name": "PROFE SKOOL API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compracompletada-salonprofe",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        -80
      ],
      "id": "734157b0-3b09-4e33-8449-1d6f410f1751",
      "name": "Transacción en Hotmart",
      "webhookId": "51b4c630-f2a1-4bcf-b6bd-570d39b5af9c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_APPROVED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4d58b8ff-ed09-4b42-9f66-a22137c1c29a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "54484fe3-6fd8-4f3d-b47e-210225671768",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_REFUNDED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9f9328ea-d47b-4cd9-9911-094d55462d1a",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "SUBSCRIPTION_CANCELED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -384,
        -96
      ],
      "id": "b04542f2-0e7e-4d2a-a5a2-b8ffb76b75ea",
      "name": "Aprobado / Cancelado - Reembolsado"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api2.skool.com/groups/el-salon-de-la-profe-monica-9200/webhooks/b8cce9e9d7254c2e84c62f69bbdb73fc?email={{ $json.body.data.buyer.email }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $('Transacción en Hotmart').item.json.body.data.buyer.email }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        64
      ],
      "id": "7db3d143-1f89-4cee-8a30-2986787dc9e3",
      "name": "Eliminar de Skool",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hYFYHBVnArTRzZzO",
          "name": "PROFE SKOOL API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/EhsM0SkIAo7ZX84JFKaK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"number\": \"{{ $('Transacción en Hotmart').item.json.body.data.buyer.checkout_phone }}\",\n    \"tag\": \"Aprobado SPM\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -208
      ],
      "id": "a16d6599-4bef-4f1d-9d52-6c18443cc137",
      "name": "Unnichat [Aprobado]"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/tTLonzJMKttAHlVBxpYt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"number\": \"{{ $('Transacción en Hotmart').item.json.body.data.buyer.checkout_phone }}\",\n    \"tag\": \"Aprobado SPM\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        208
      ],
      "id": "8bfb44f0-acdf-421a-87c4-52cac0b1054f",
      "name": "Unnichat [Cancelado / Reembolsado]"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.flodesk.com/v1/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $('Transacción en Hotmart').item.json.body.data.buyer.email }}\",\n  \"first_name\": \"{{ $('Transacción en Hotmart').item.json.body.data.buyer.name }}\",\n  \"segment_ids\": [\"6a29f69f6d89d0be082aaa7e\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -16
      ],
      "id": "457bd43e-69ca-43bf-b730-de32dc72cab2",
      "name": "Flodesk [Nuevo segmento]",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hSaP4d59L4OoJOce",
          "name": "Flodesk Alex"
        },
        "httpBasicAuth": {
          "id": "jwNOGTuXMrnIE2QR",
          "name": "FLODESK PROFE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.flodesk.com/v1/subscribers/{{ $('Transacción en Hotmart').item.json.body.data.buyer.email }}/segments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"segment_ids\": [\"6a2a14990f8cce81fcadc44d\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        -16
      ],
      "id": "6ad8d31f-b2e7-42dd-96ab-a7a4d6f87f5e",
      "name": "Flodesk [Eliminar del segmento alumno]",
      "credentials": {
        "httpBasicAuth": {
          "id": "jwNOGTuXMrnIE2QR",
          "name": "FLODESK PROFE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.purchase.recurrence_number.toString() }}",
                    "rightValue": "=1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "89664292-7a36-4595-96d0-97843fd8eae7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3c07bcc3-aeca-4708-b928-7db24ed5c7c1",
                    "leftValue": "={{ $json.body.data.purchase.recurrence_number.toString() }}",
                    "rightValue": "=1",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -112,
        -304
      ],
      "id": "b040ff3e-dd31-4b1c-91ed-d88479f3173c",
      "name": "Compra o renovación"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.purchase.recurrence_number.toString() }}",
                    "rightValue": "=1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "89664292-7a36-4595-96d0-97843fd8eae7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3c07bcc3-aeca-4708-b928-7db24ed5c7c1",
                    "leftValue": "={{ $json.body.data.purchase.recurrence_number.toString() }}",
                    "rightValue": "=1",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -160,
        -80
      ],
      "id": "0e23867c-b1eb-43a1-bb6d-d261b2320927",
      "name": "Compra o renovación1"
    }
  ],
  "pinData": {
    "Transacción en Hotmart": [
      {
        "json": {
          "headers": {
            "host": "contenedor1-n8n.vqn37t.easypanel.host",
            "user-agent": "Jodd HTTP",
            "content-length": "2163",
            "content-type": "application/json",
            "x-forwarded-for": "54.172.233.163",
            "x-forwarded-host": "contenedor1-n8n.vqn37t.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "ca87c8df81ee",
            "x-hotmart-hottok": "YtViCAYahcDsQiswYQMj45MK9ZNwUn49356628",
            "x-real-ip": "54.172.233.163",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "support_email": "",
                "has_co_production": true,
                "name": "El salón de la profe Mónica",
                "warranty_date": "2026-06-24T00:00:00Z",
                "is_physical_product": false,
                "id": 7869343,
                "ucode": "e4f87095-2823-41cd-be72-9c20efce5e53",
                "product_format_id": 8
              },
              "commissions": [
                {
                  "currency_value": "USD",
                  "source": "MARKETPLACE",
                  "value": 3.37
                },
                {
                  "currency_conversion": {
                    "converted_value": 10579.8,
                    "converted_to_currency": "COP",
                    "conversion_rate": 3435
                  },
                  "currency_value": "USD",
                  "source": "PRODUCER",
                  "value": 3.08
                }
              ],
              "purchase": {
                "original_offer_price": {
                  "currency_value": "USD",
                  "value": 30.6
                },
                "recurrence_number": 1,
                "subscription_anticipation_purchase": false,
                "checkout_country": {
                  "iso": "CO",
                  "name": "Colombia"
                },
                "origin": {
                  "xcod": "{\"co\":\"VID07 - 05/26\",\"vid\":\"120247748137350516\",\"vsrc\":\"metaads\",\"u\":\"597b1f9a-831b-4ce0-b9d6-bd69df2f9e9a\",\"url\":\"www.laprofemonica.co/suscripcion-accedeahora\",\"r\":\"m.facebook.com/\",\"v\":1}",
                  "sck": "s=metaads|m=Facebook_Mobile_Reels|c=00 - [AUTO] - A+ / VID07 - 05/26|co=VID07 - 05/26|utm_id=120247656296380516|t=120247748137340516"
                },
                "order_bump": {
                  "is_order_bump": false
                },
                "approved_date": 1781738172000,
                "offer": {
                  "code": "2z01xh9g",
                  "coupon_code": "SALON",
                  "name": "SALON",
                  "description": "Primer pago $29"
                },
                "is_funnel": false,
                "order_date": 1781738166000,
                "date_next_charge": 1784289600000,
                "price": {
                  "currency_value": "COP",
                  "value": 105094
                },
                "buyer_ip": "206.84.80.35",
                "payment": {
                  "installments_number": 1,
                  "type": "CREDIT_CARD"
                },
                "full_price": {
                  "currency_value": "COP",
                  "value": 105094
                },
                "business_model": "A",
                "invoice_by": "SELLER",
                "transaction": "HP0545609296",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "",
                  "name": ""
                }
              ],
              "producer": {
                "legal_nature": "Pessoa Física",
                "document": "63518573",
                "name": "Mónica Higuera Rueda"
              },
              "subscription": {
                "subscriber": {
                  "code": "G04D7BOL"
                },
                "plan": {
                  "name": "MENSUAL",
                  "id": 1327615
                },
                "status": "ACTIVE"
              },
              "buyer": {
                "address": {
                  "country": "Colombia",
                  "country_iso": "CO"
                },
                "document": "1088596301",
                "name": "Guido Alpala",
                "last_name": "Alpala",
                "checkout_phone": "573127728494",
                "first_name": "Guido",
                "email": "guidoalpala@gmail.com"
              }
            },
            "id": "6b8bcd8b-9dd9-4343-a648-5fc8dcbf95b3",
            "creation_date": 1781738184443,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          },
          "webhookUrl": "https://contenedor1-n8n.vqn37t.easypanel.host/webhook/compracompletada-salonprofe",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "infoandresrendoncol",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-10T23:32:51.315Z",
      "createdAt": "2026-06-10T23:32:51.315Z",
      "role": "workflow:owner",
      "workflowId": "XxOrZZPOy4fzHpW1",
      "projectId": "4KmSbENK2cGxsjaf"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-18T17:44:29.831Z",
  "versionId": "625aa173-afe8-498b-a60e-5207139e8b26"
}