backup/2026/02/R3dLE3SaA6y3mXFq.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-18T17:55:47.000Z",
    "createdAt": "2026-02-18T17:55:28.240Z",
    "versionId": "7e56f7a6-1272-4614-9338-56adeba79136",
    "workflowId": "R3dLE3SaA6y3mXFq",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "registro-alexandra-ADE",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -192,
          16
        ],
        "id": "5c0e7740-d5d9-4c3c-bfda-f3d95e7c5930",
        "name": "Webhook",
        "webhookId": "710da864-fd7d-4e4a-b8dc-f52e75115e96"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://unnichat.com.br/a/start/i5eMyBWxN5fuL3eekYiL",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"id\": \"{{ $json.id || Math.floor(Math.random() * 1000000).toString() }}\",\n  \"data\": {\n    \"number\": \"{{ $json.body.submission.fields.Celular }}\",\n    \"tag\": \"global\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          224
        ],
        "id": "1eef2be3-df72-4809-9bab-38274e2dd970",
        "name": "Agregar contacto Unnichat"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.flodesk.com/v1/subscribers/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"email\": \"{{ $json.body.submission.fields.Correo }}\",\n  \"mobile_number\": \"{{ $json.body.submission.fields.Celular }}\",\n  \"segment_ids\": [\"6980f9c59cc5305073f73f08\"]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          16
        ],
        "id": "5c1dd33b-46e5-4eea-87eb-309785f6bdf5",
        "name": "Agregar a Flodesk",
        "retryOnFail": false,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "hSaP4d59L4OoJOce",
            "name": "Flodesk Alex"
          },
          "httpBasicAuth": {
            "id": "QvDqcChg1nnswrDt",
            "name": "FLODESK ALEX"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1cRXbAmRmFEs5TebO4tWc0_s3Er4VC-Wyq-Ie9LGQXYA",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "UTMs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cRXbAmRmFEs5TebO4tWc0_s3Er4VC-Wyq-Ie9LGQXYA/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "EMAIL": "={{ $json.body.submission.fields.Correo }}",
              "TELEFONO": "={{ $json.body.submission.fields.Celular }}",
              "PREGUNTA CUALIFICACIÓN": "={{ $json.Pregunta_cualificacion }}",
              "CAMPAÑA": "={{ $json.body.submission.fields[\"UTM Campaign\"] }}",
              "FUENTE": "={{ $json.body.submission.fields[\"UTM Source\"] }}",
              "MEDIO": "={{ $json.body.submission.fields[\"UTM Medium\"] }}",
              "TERMINO": "={{ $json.body.submission.fields[\"UTM Term\"] }}",
              "CONTENIDO": "={{ $json.body.submission.fields[\"UTM Content\"] }}",
              "IP": "={{ $json.body.submission.metadata.ip }}",
              "FECHA": "={{ $json.body.submission.submittedAt }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "EMAIL",
                "displayName": "EMAIL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TELEFONO",
                "displayName": "TELEFONO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "FECHA",
                "displayName": "FECHA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CAMPAÑA",
                "displayName": "CAMPAÑA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "FUENTE",
                "displayName": "FUENTE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "MEDIO",
                "displayName": "MEDIO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TERMINO",
                "displayName": "TERMINO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CONTENIDO",
                "displayName": "CONTENIDO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PREGUNTA CUALIFICACIÓN",
                "displayName": "PREGUNTA CUALIFICACIÓN",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "IP",
                "displayName": "IP",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          208,
          -208
        ],
        "id": "ef45b9d6-ca99-44bd-821a-be60c860c1ea",
        "name": "Conteo de leads",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RVzGPXmtbwg7e3zT",
            "name": "SHEET INFO.ANDRES"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f6ade06f-bf89-4342-b4e7-3190542b019e",
                "name": "Pregunta_cualificacion",
                "value": "={{ $json.body.submission.fields[\"¿Qué tan cerca estás de cumplir tu sueño de ver tu libro publicado y disponible para lectores reales?\"] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          16,
          16
        ],
        "id": "ba12705f-a9e3-4fc4-8f51-3a280b6a8fb5",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Agregar a Flodesk",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agregar a Flodesk": {
        "main": [
          []
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Conteo de leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "BE Online",
    "name": "Version 7e56f7a6",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "7e56f7a6-1272-4614-9338-56adeba79136",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Agregar a Flodesk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar a Flodesk": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Conteo de leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-13T15:37:44.115Z",
  "id": "R3dLE3SaA6y3mXFq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Alexandra - Registro - ADE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "registro-alexandra-ADE",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        16
      ],
      "id": "5c0e7740-d5d9-4c3c-bfda-f3d95e7c5930",
      "name": "Webhook",
      "webhookId": "710da864-fd7d-4e4a-b8dc-f52e75115e96"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/i5eMyBWxN5fuL3eekYiL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.id || Math.floor(Math.random() * 1000000).toString() }}\",\n  \"data\": {\n    \"number\": \"{{ $json.body.submission.fields.Celular }}\",\n    \"tag\": \"global\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        224
      ],
      "id": "1eef2be3-df72-4809-9bab-38274e2dd970",
      "name": "Agregar contacto Unnichat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.flodesk.com/v1/subscribers/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.body.submission.fields.Correo }}\",\n  \"mobile_number\": \"{{ $json.body.submission.fields.Celular }}\",\n  \"segment_ids\": [\"6980f9c59cc5305073f73f08\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        16
      ],
      "id": "5c1dd33b-46e5-4eea-87eb-309785f6bdf5",
      "name": "Agregar a Flodesk",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hSaP4d59L4OoJOce",
          "name": "Flodesk Alex"
        },
        "httpBasicAuth": {
          "id": "QvDqcChg1nnswrDt",
          "name": "FLODESK ALEX"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cRXbAmRmFEs5TebO4tWc0_s3Er4VC-Wyq-Ie9LGQXYA",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "UTMs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cRXbAmRmFEs5TebO4tWc0_s3Er4VC-Wyq-Ie9LGQXYA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EMAIL": "={{ $json.body.submission.fields.Correo }}",
            "TELEFONO": "={{ $json.body.submission.fields.Celular }}",
            "PREGUNTA CUALIFICACIÓN": "={{ $json.Pregunta_cualificacion }}",
            "CAMPAÑA": "={{ $json.body.submission.fields[\"UTM Campaign\"] }}",
            "FUENTE": "={{ $json.body.submission.fields[\"UTM Source\"] }}",
            "MEDIO": "={{ $json.body.submission.fields[\"UTM Medium\"] }}",
            "TERMINO": "={{ $json.body.submission.fields[\"UTM Term\"] }}",
            "CONTENIDO": "={{ $json.body.submission.fields[\"UTM Content\"] }}",
            "IP": "={{ $json.body.submission.metadata.ip }}",
            "FECHA": "={{ $json.body.submission.submittedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAMPAÑA",
              "displayName": "CAMPAÑA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FUENTE",
              "displayName": "FUENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDIO",
              "displayName": "MEDIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TERMINO",
              "displayName": "TERMINO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONTENIDO",
              "displayName": "CONTENIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PREGUNTA CUALIFICACIÓN",
              "displayName": "PREGUNTA CUALIFICACIÓN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IP",
              "displayName": "IP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -208
      ],
      "id": "ef45b9d6-ca99-44bd-821a-be60c860c1ea",
      "name": "Conteo de leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RVzGPXmtbwg7e3zT",
          "name": "SHEET INFO.ANDRES"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6ade06f-bf89-4342-b4e7-3190542b019e",
              "name": "Pregunta_cualificacion",
              "value": "={{ $json.body.submission.fields[\"¿Qué tan cerca estás de cumplir tu sueño de ver tu libro publicado y disponible para lectores reales?\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        16
      ],
      "id": "ba12705f-a9e3-4fc4-8f51-3a280b6a8fb5",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "contenedor1-n8n.vqn37t.easypanel.host",
            "user-agent": "AtomiForm/1.0",
            "content-length": "1477",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-form-id": "1039c18d-24fd-4985-8452-b00fc70355a9",
            "x-forwarded-for": "24.199.100.93",
            "x-forwarded-host": "contenedor1-n8n.vqn37t.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "730fdd9182ea",
            "x-real-ip": "24.199.100.93",
            "x-webhook-id": "13c2c6e3-7530-448c-b34c-1631d194f53a"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "form_submission",
            "id": "e01e43ba-655c-4df5-8094-5fa907d0a80c",
            "form": {
              "id": "1039c18d-24fd-4985-8452-b00fc70355a9",
              "name": "Formulario Reto: Escribe, Publica y vende tu libro"
            },
            "submission": {
              "submittedAt": "2026-02-18T17:20:09.237Z",
              "fields": {
                "Correo": "newtime28082024@gmail.com",
                "¿Qué tan cerca estás de cumplir tu sueño de ver tu libro publicado y disponible para lectores reales?": "Ya escribí parte de mi libro, pero no sé cómo seguir o cómo hacerlo llegar a lectores reales.",
                "UTM Campaign": "00 - [AUTO] - A+ [IMG06 - ADE 03/26]",
                "UTM Source": "metaads",
                "UTM Medium": "Facebook_Mobile_Feed",
                "UTM Content": "IMG06 - ADE 03/26",
                "UTM Term": "120239337001200724"
              },
              "metadata": {
                "page": {
                  "id": "6tFbiqGFthcyuVuOkI7b",
                  "url": "https://www.autordeexito.com/ADE-registro?utm_source=metaads&utm_medium=Facebook_Mobile_Feed&utm_campaign=00+-+%5BAUTO%5D+-+A%2B+%5BIMG06+-+ADE+03%2F26%5D&utm_content=IMG06+-+ADE+03%2F26&vk_source=metaads&vk_ad_id=120239337001210724&fbclid=IwZXh0bgNhZW0BMABhZGlkAastCj931ERzcnRjBmFwcF9pZAwzNTA2ODU1MzE3MjgAAR67LVCKY90AwBMOmxTGljRyNGZZh0FhBJlqg1AG3A_Amym5e_JHySJjBcbXyw_aem_qjs3btF2ffDe5llH8LJZfQ&utm_id=120239332657450724&utm_term=120239337001200724",
                  "name": "ADE-registro"
                },
                "userAgent": "Mozilla/5.0 (Linux; Android 15; V2343 Build/AP3A.240905.015.A2_SCNONFC; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/145.0.7632.52 Mobile Safari/537.36 [FB_IAB/FB4A;FBAV/548.1.0.51.64;IABMV/1;]",
                "ip": "2803:e5e3:2a03:1400:dfd0:13c2:1dae:add2"
              }
            }
          },
          "webhookUrl": "https://contenedor1-n8n.vqn37t.easypanel.host/webhook/registro-alexandra-ADE",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "infoandresrendoncol",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-13T15:37:44.122Z",
      "createdAt": "2026-02-13T15:37:44.122Z",
      "role": "workflow:owner",
      "workflowId": "R3dLE3SaA6y3mXFq",
      "projectId": "4KmSbENK2cGxsjaf"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-18T17:55:28.239Z",
  "versionId": "7e56f7a6-1272-4614-9338-56adeba79136"
}