backup/2025/08/N19CG9UISKfeOJzt.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "BUSQUEDA EN FLODESK1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BUSQUEDA EN FLODESK1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BUSQUEDA EN FLODESK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXISTE FLODESK?1": {
      "main": [
        [
          {
            "node": "CREA E INSERTA EN SEGMENTO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INSERTA EN SEGMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSQUEDA EN FLODESK": {
      "main": [
        [
          {
            "node": "EXISTE FLODESK?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXISTE FLODESK?": {
      "main": [
        [],
        [
          {
            "node": "BORRAR DEL SEGMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSQUEDA EN FLODESK1": {
      "main": [
        [
          {
            "node": "EXISTE FLODESK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-20T22:24:22.827Z",
  "id": "N19CG9UISKfeOJzt",
  "isArchived": false,
  "meta": null,
  "name": "WORKSHOP GRAL - WEBHOOK HOTMART - FLODESK",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotmart-webhooks-compra-workshop-gral",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        0
      ],
      "id": "43b2a6e6-5a7b-4148-91dc-9268c182bb23",
      "name": "Webhook",
      "webhookId": "b860c02e-7874-483d-9068-2609e2750811"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "SUBSCRIPTION_CANCELLATION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a27841d4-1ba0-4dc9-bcb4-e2c9925a2ed2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUSCRIPCIÓN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "287b258d-f301-4a13-96a3-5e0f280382de",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_REFUNDED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REEMBOLSO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c96fa6a1-7377-41dc-aec1-f62dd5ca12a0",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_APPROVED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "APROBADA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -144,
        -16
      ],
      "id": "2df3c67b-61db-4238-9f7d-2fe5cba542d1",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff9f56d5-3bdc-45e2-b7f3-5fec484a6f1c",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        96
      ],
      "id": "1ab118e0-6869-4e43-9023-394347b8d248",
      "name": "EXISTE FLODESK?1"
    },
    {
      "parameters": {
        "url": "=https://api.flodesk.com/v1/subscribers/{{ $json.body.data.buyer.email }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        96
      ],
      "id": "5f6f49e5-9754-4b49-8f3e-c62b42144548",
      "name": "BUSQUEDA EN FLODESK",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kKUglU2e7wIB487O",
          "name": "FLODESK"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.flodesk.com/v1/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"email\": \"{{ $('Webhook').item.json.body.data.buyer.email }}\",\n    \"segment_ids\": [\n       \"688c61d75a3c0ab7e9f9213a\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        0
      ],
      "id": "4e5d7b4b-d053-421a-832c-bb22edd26ad1",
      "name": "CREA E INSERTA EN SEGMENTO",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kKUglU2e7wIB487O",
          "name": "FLODESK"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.flodesk.com/v1/subscribers/{{ $json.id }}/segments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"segment_ids\": [\n       \"688d4d02acdaf02183013c66\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        192
      ],
      "id": "84957c8c-f965-4b0d-bdcd-188b1ceea095",
      "name": "INSERTA EN SEGMENTO",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kKUglU2e7wIB487O",
          "name": "FLODESK"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff9f56d5-3bdc-45e2-b7f3-5fec484a6f1c",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        -192
      ],
      "id": "d642e733-84cc-4c4a-a625-ca87f0f7d4ea",
      "name": "EXISTE FLODESK?"
    },
    {
      "parameters": {
        "url": "=https://api.flodesk.com/v1/subscribers/{{ $json.body.data.buyer.email }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -192
      ],
      "id": "ce862ef5-7db5-40b5-bf83-2d81600aa14b",
      "name": "BUSQUEDA EN FLODESK1",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kKUglU2e7wIB487O",
          "name": "FLODESK"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.flodesk.com/v1/subscribers/{{ $json.id }}/segments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"segment_ids\": [\n       \"688d4d02acdaf02183013c66\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        -192
      ],
      "id": "7beb27f7-f92c-43a1-8725-acf604e95836",
      "name": "BORRAR DEL SEGMENTO",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kKUglU2e7wIB487O",
          "name": "FLODESK"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "contenedor1-n8n.vqn37t.easypanel.host",
            "user-agent": "Jodd HTTP",
            "content-length": "2206",
            "content-type": "application/json",
            "x-forwarded-for": "54.208.102.197",
            "x-forwarded-host": "contenedor1-n8n.vqn37t.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "08c32a3763b4",
            "x-hotmart-hottok": "LPcR3CoMbuGaTwZnxmswMkN3c2Ccsy6e4d1d59-9797-47d4-a5c1-0ec38e17da1c",
            "x-real-ip": "54.208.102.197",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "support_email": "support@hotmart.com.br",
                "has_co_production": false,
                "name": "Produto test postback2",
                "warranty_date": "2017-12-27T00:00:00Z",
                "is_physical_product": false,
                "id": 0,
                "ucode": "fb056612-bcc6-4217-9e6d-2a5d1110ac2f",
                "content": {
                  "has_physical_products": true,
                  "products": [
                    {
                      "name": "How to Make Clear Ice",
                      "is_physical_product": false,
                      "id": 4774438,
                      "ucode": "559fef42-3406-4d82-b775-d09bd33936b1"
                    },
                    {
                      "name": "Organizador de Poeira",
                      "is_physical_product": true,
                      "id": 4999597,
                      "ucode": "099e7644-b7d1-43d6-82a9-ec6be0118a4b"
                    }
                  ]
                }
              },
              "commissions": [
                {
                  "currency_value": "BRL",
                  "source": "MARKETPLACE",
                  "value": 149.5
                },
                {
                  "currency_value": "BRL",
                  "source": "PRODUCER",
                  "value": 1350.5
                }
              ],
              "purchase": {
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "sckPaymentLink": "sckPaymentLinkTest",
                "order_bump": {
                  "parent_purchase_transaction": "HP02316330308193",
                  "is_order_bump": true
                },
                "approved_date": 1511783346000,
                "offer": {
                  "code": "test",
                  "coupon_code": "SHHUHA"
                },
                "is_funnel": false,
                "event_tickets": {
                  "amount": 1755728858625
                },
                "order_date": 1511783344000,
                "price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "buyer_ip": "00.00.00.00",
                "payment": {
                  "installments_number": 12,
                  "type": "CREDIT_CARD"
                },
                "full_price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "business_model": "I",
                "transaction": "HP16015479281022",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "Q58388177J",
                  "name": "Affiliate name"
                }
              ],
              "producer": {
                "legal_nature": "Pessoa Física",
                "document": "12345678965",
                "name": "Producer Test Name"
              },
              "subscription": {
                "subscriber": {
                  "code": "I9OT62C3"
                },
                "plan": {
                  "name": "plano de teste",
                  "id": 123
                },
                "status": "ACTIVE"
              },
              "buyer": {
                "checkout_phone_code": "999999999",
                "address": {
                  "zipcode": "38400123",
                  "country": "Brasil",
                  "number": "10",
                  "address": "Avenida Francisco Galassi",
                  "city": "Uberlândia",
                  "state": "Minas Gerais",
                  "neighborhood": "Tubalina",
                  "complement": "Perto do shopping",
                  "country_iso": "BR"
                },
                "document": "69526128664",
                "name": "Teste Comprador",
                "last_name": "Comprador",
                "checkout_phone": "99999999900",
                "first_name": "Teste",
                "email": "testeComprador271101postman15@example.com",
                "document_type": "CPF"
              }
            },
            "id": "f0f317a9-1b59-44a2-9e5d-09ac5a103b48",
            "creation_date": 1755728858635,
            "event": "PURCHASE_REFUNDED",
            "version": "2.0.0"
          },
          "webhookUrl": "https://contenedor1-n8n.vqn37t.easypanel.host/webhook/hotmart-webhooks-compra",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "infoandresrendoncol",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-20T22:24:22.830Z",
      "updatedAt": "2025-08-20T22:24:22.830Z",
      "role": "workflow:owner",
      "workflowId": "N19CG9UISKfeOJzt",
      "projectId": "4KmSbENK2cGxsjaf"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-21T13:25:16.000Z",
  "versionId": "66ea5ecb-e11f-41cb-8cc2-8cf565763d81"
}