backup/2026/05/4jvCISKsF5IM88mK.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-09T22:01:45.000Z",
    "createdAt": "2026-06-09T13:27:14.725Z",
    "versionId": "23fdc473-de1a-4001-b9b8-f5afe1fe3ac7",
    "workflowId": "4jvCISKsF5IM88mK",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "lunacal-webhook",
          "options": {}
        },
        "id": "a5615f3d-83e9-4e7a-9f50-222c82c98166",
        "name": "Webhook LunaCal",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          -2784,
          1024
        ],
        "webhookId": "96a125b9-e994-4da0-9945-a73155afff1b"
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{ $json.body.triggerEvent }}",
          "rules": {
            "rules": [
              {
                "value2": "BOOKING_CREATED"
              },
              {
                "value2": "BOOKING_RESCHEDULED",
                "output": 1
              },
              {
                "value2": "BOOKING_CANCELLED",
                "output": 2
              }
            ]
          }
        },
        "id": "97da73e6-d781-434b-a22c-6adf87d449f5",
        "name": "Clasificar Evento",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 1,
        "position": [
          -2560,
          1024
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU",
            "mode": "list",
            "cachedResultName": "Control de Citas LunaCal",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ID Reserva": "={{ $json.body.payload.bookingId }}",
              "Nombre": "={{ $json.body.payload.responses?.name?.value || $json.body.payload.attendees[0]?.name || 'Cliente' }}",
              "Fecha Inicio": "={{ $json.body.payload.startTime }}",
              "Teléfono": "={{ $json.body.payload.responses?.[ 'attendee-phone' ]?.value || $json.body.payload.attendees[0]?.phoneNumber || '' }}",
              "Email": "={{ $json.body.payload?.responses?.email?.value || $json.body.payload?.attendees[0]?.email }}",
              "Estado": "AGENDADA"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ID Reserva",
                "displayName": "ID Reserva",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Nombre",
                "displayName": "Nombre",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Teléfono",
                "displayName": "Teléfono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Fecha Inicio",
                "displayName": "Fecha Inicio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "3d7a0174-1499-4162-a8b5-be2961d5f57f",
        "name": "Sheets: Registrar Nueva",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -2320,
          608
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "uniCNvqoYoprQPic",
            "name": "SHEET INFO.HOLDINGS"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU",
            "mode": "list",
            "cachedResultName": "Control de Citas LunaCal",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Fecha Inicio": "={{ $node[\"Webhook LunaCal\"].json.body.payload.startTime }}",
              "Teléfono": "={{ $json.body.payload.responses?.[ 'attendee-phone' ]?.value || $json.body.payload.attendees[0]?.phoneNumber || '' }}",
              "Email": "={{ $node[\"Webhook LunaCal\"].json.body.payload?.responses?.email?.value || $node[\"Webhook LunaCal\"].json.body.payload?.attendees[0]?.email }}",
              "Nombre": "={{ $json.body.payload.responses?.name?.value || $json.body.payload.attendees[0]?.name || 'Cliente' }}",
              "ID Reserva": "={{ $node[\"Webhook LunaCal\"].json.body.payload.bookingId }}",
              "Estado": "REPROGRAMADA"
            },
            "matchingColumns": [
              "ID Reserva"
            ],
            "schema": [
              {
                "id": "ID Reserva",
                "displayName": "ID Reserva",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Nombre",
                "displayName": "Nombre",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Teléfono",
                "displayName": "Teléfono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Fecha Inicio",
                "displayName": "Fecha Inicio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "b0d16688-8137-480e-8f77-46691917d7c7",
        "name": "Sheets: Marcar Reagendada",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -2320,
          1024
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "uniCNvqoYoprQPic",
            "name": "SHEET INFO.HOLDINGS"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU",
            "mode": "list",
            "cachedResultName": "Control de Citas LunaCal",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Fecha Inicio": "={{ $json.body.payload.startTime }}",
              "Teléfono": "={{ $json.body.payload.responses?.[ 'attendee-phone' ]?.value || $json.body.payload.attendees[0]?.phoneNumber || '' }}",
              "Email": "={{ $json.body.payload?.responses?.email?.value || $json.body.payload?.attendees[0]?.email }}",
              "Nombre": "={{ $json.body.payload?.responses?.name?.value || $json.body.payload?.attendees[0]?.name || 'Cliente' }}",
              "ID Reserva": "={{ $json.body.payload.bookingId }}",
              "Estado": "CANCELADA"
            },
            "matchingColumns": [
              "ID Reserva"
            ],
            "schema": [
              {
                "id": "ID Reserva",
                "displayName": "ID Reserva",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Nombre",
                "displayName": "Nombre",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Teléfono",
                "displayName": "Teléfono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Fecha Inicio",
                "displayName": "Fecha Inicio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "8c5f79b5-365b-419f-96c2-c2d91855380e",
        "name": "Sheets: Marcar Cancelada",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -2320,
          1360
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "uniCNvqoYoprQPic",
            "name": "SHEET INFO.HOLDINGS"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://unnichat.com.br/a/start/nvF71dsb2bzCqXNfgOYr",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"id\": \"{{ Math.floor(Math.random() * 1000000).toString() }}\",\n  \"data\": {\n    \"number\": \"{{ $json.Teléfono.toString().replace('+', '') }}\",\n    \"name\": \"{{ $json.Nombre || 'Cliente' }}\",\n    \"email\": \"{{ $json.Email }}\",\n    \"tipo_mensaje\": \"cancelacion\"\n  },\n  \"version\": \"1.0.0\"\n}",
          "options": {}
        },
        "id": "91740a26-e855-4aea-9293-20a68c339ed2",
        "name": "Unichat: Confirmación",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2064,
          608
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://unnichat.com.br/a/start/nvF71dsb2bzCqXNfgOYr",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"name\": \"{{ $json.body.payload.responses?.name?.value || $json.body.payload.attendees[0]?.name || 'Cliente' }}\",\n  \"email\": \"{{ $json.body.payload.responses?.email?.value || $json.body.payload.attendees[0]?.email }}\",\n  \"phone\": \"{{ $json.body.payload.responses?.[ 'attendee-phone' ]?.value || $json.body.payload.attendees[0]?.phoneNumber || '' }}\",\n  \"tipo_mensaje\": \"reagendamiento\"\n}",
          "options": {}
        },
        "id": "05b7c6f6-8393-47cf-b90a-726beab1320a",
        "name": "Unichat: Reagendado",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1808,
          1024
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://unnichat.com.br/a/start/TZvorrJBIJZPSquezvL5",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"name\": \"{{ $json.Nombre }}\",\n  \"email\": \"{{ $json.Email }}\",\n  \"phone\": \"{{ $json.Teléfono.replace('+', '') }}\",\n  \"tipo_mensaje\": \"cancelacion\"\n}",
          "options": {}
        },
        "id": "fd8938c8-9bec-4874-9c72-4e3cb3537197",
        "name": "Unichat: Cancelado",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2064,
          1360
        ]
      },
      {
        "parameters": {
          "resume": "specificTime",
          "dateTime": "={{ $('Webhook LunaCal').item.json.body.payload.startTime.toDateTime().minus({ minutes: 10 }) }}"
        },
        "id": "28cc83ac-aa73-4173-bec5-f76f48306dcd",
        "name": "Esperar hasta 10 min antes",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1552,
          912
        ],
        "webhookId": "3dd850fc-3727-4794-a2d3-42ea23c240c4"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU",
            "mode": "list",
            "cachedResultName": "Control de Citas LunaCal",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "ID Reserva",
                "lookupValue": "={{ $('Webhook LunaCal').item.json.body.payload.bookingId }}"
              }
            ]
          },
          "options": {}
        },
        "id": "b274f042-dc27-4e92-b4d6-55b12cc39fc4",
        "name": "Sheets: Consultar Estado Actual",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -1328,
          912
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "uniCNvqoYoprQPic",
            "name": "SHEET INFO.HOLDINGS"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.Estado }}",
                "operation": "notEqual",
                "value2": "CANCELADA"
              }
            ]
          }
        },
        "id": "24238607-d328-4d42-b571-ccc3d045bbaa",
        "name": "¿Sigue Activa?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -1104,
          912
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://unnichat.com.br/a/start/nvF71dsb2bzCqXNfgOYr",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"name\": \"{{ $('Webhook LunaCal').item.json.body.payload.responses?.name?.value || $('Webhook LunaCal').item.json.body.payload.attendees[0]?.name || 'Cliente' }}\",\n  \"email\": \"{{ $('Webhook LunaCal').item.json.body.payload.responses?.email?.value || $('Webhook LunaCal').item.json.body.payload.attendees[0]?.email }}\",\n  \"phone\": \"{{ $('Webhook LunaCal').item.json.body.payload.responses?.[ 'attendee-phone' ]?.value || $('Webhook LunaCal').item.json.body.payload.attendees[0]?.phoneNumber || '' }}\",\n  \"tipo_mensaje\": \"recordatorio\"\n}",
          "options": {}
        },
        "id": "3347b041-e2c8-47a9-b991-b5b636681333",
        "name": "Unichat: Recordatorio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -880,
          880
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU",
            "mode": "list",
            "cachedResultName": "Control de Citas LunaCal",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Fecha Inicio": "={{ $json.body.payload.startTime }}",
              "Teléfono": "={{ $json.body.payload.responses?.[ 'attendee-phone' ]?.value || $json.body.payload.attendees[0]?.phoneNumber || '' }}",
              "Email": "={{ $json.body.payload?.responses?.email?.value || $json.body.payload?.attendees[0]?.email }}",
              "Nombre": "={{ $json.body.payload.responses?.name?.value || $json.body.payload.attendees[0]?.name || 'Cliente' }}",
              "ID Reserva": "={{ $json.body.payload.bookingId }}",
              "Estado": "REPROGRAMADA"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ID Reserva",
                "displayName": "ID Reserva",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Nombre",
                "displayName": "Nombre",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Teléfono",
                "displayName": "Teléfono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Fecha Inicio",
                "displayName": "Fecha Inicio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "eebff7b1-c71b-42de-a5e6-f6c66b9aa97c",
        "name": "Sheets: Registrar Nueva Fecha",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -2064,
          1024
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "uniCNvqoYoprQPic",
            "name": "SHEET INFO.HOLDINGS"
          }
        }
      }
    ],
    "connections": {
      "Webhook LunaCal": {
        "main": [
          [
            {
              "node": "Clasificar Evento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clasificar Evento": {
        "main": [
          [
            {
              "node": "Sheets: Registrar Nueva",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sheets: Marcar Reagendada",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sheets: Marcar Cancelada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheets: Registrar Nueva": {
        "main": [
          [
            {
              "node": "Unichat: Confirmación",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheets: Marcar Reagendada": {
        "main": [
          [
            {
              "node": "Sheets: Registrar Nueva Fecha",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheets: Registrar Nueva Fecha": {
        "main": [
          [
            {
              "node": "Unichat: Reagendado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheets: Marcar Cancelada": {
        "main": [
          [
            {
              "node": "Unichat: Cancelado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Unichat: Confirmación": {
        "main": [
          [
            {
              "node": "Esperar hasta 10 min antes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Unichat: Reagendado": {
        "main": [
          [
            {
              "node": "Esperar hasta 10 min antes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Esperar hasta 10 min antes": {
        "main": [
          [
            {
              "node": "Sheets: Consultar Estado Actual",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheets: Consultar Estado Actual": {
        "main": [
          [
            {
              "node": "¿Sigue Activa?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Sigue Activa?": {
        "main": [
          [
            {
              "node": "Unichat: Recordatorio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "BE Online",
    "name": "Version 23fdc473",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "23fdc473-de1a-4001-b9b8-f5afe1fe3ac7",
  "connections": {
    "Webhook LunaCal": {
      "main": [
        [
          {
            "node": "Clasificar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Evento": {
      "main": [
        [
          {
            "node": "Sheets: Registrar Nueva",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets: Marcar Reagendada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets: Marcar Cancelada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Registrar Nueva": {
      "main": [
        [
          {
            "node": "Unichat: Confirmación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Marcar Reagendada": {
      "main": [
        [
          {
            "node": "Sheets: Registrar Nueva Fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Registrar Nueva Fecha": {
      "main": [
        [
          {
            "node": "Unichat: Reagendado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Marcar Cancelada": {
      "main": [
        [
          {
            "node": "Unichat: Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unichat: Confirmación": {
      "main": [
        [
          {
            "node": "Esperar hasta 10 min antes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unichat: Reagendado": {
      "main": [
        [
          {
            "node": "Esperar hasta 10 min antes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar hasta 10 min antes": {
      "main": [
        [
          {
            "node": "Sheets: Consultar Estado Actual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Consultar Estado Actual": {
      "main": [
        [
          {
            "node": "¿Sigue Activa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Sigue Activa?": {
      "main": [
        [
          {
            "node": "Unichat: Recordatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-21T22:11:20.605Z",
  "id": "4jvCISKsF5IM88mK",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Lunacal Reunion Inicial Agendada",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lunacal-webhook",
        "options": {}
      },
      "id": "a5615f3d-83e9-4e7a-9f50-222c82c98166",
      "name": "Webhook LunaCal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -2784,
        1024
      ],
      "webhookId": "96a125b9-e994-4da0-9945-a73155afff1b"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.triggerEvent }}",
        "rules": {
          "rules": [
            {
              "value2": "BOOKING_CREATED"
            },
            {
              "value2": "BOOKING_RESCHEDULED",
              "output": 1
            },
            {
              "value2": "BOOKING_CANCELLED",
              "output": 2
            }
          ]
        }
      },
      "id": "97da73e6-d781-434b-a22c-6adf87d449f5",
      "name": "Clasificar Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2560,
        1024
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU",
          "mode": "list",
          "cachedResultName": "Control de Citas LunaCal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Reserva": "={{ $json.body.payload.bookingId }}",
            "Nombre": "={{ $json.body.payload.responses?.name?.value || $json.body.payload.attendees[0]?.name || 'Cliente' }}",
            "Fecha Inicio": "={{ $json.body.payload.startTime }}",
            "Teléfono": "={{ $json.body.payload.responses?.[ 'attendee-phone' ]?.value || $json.body.payload.attendees[0]?.phoneNumber || '' }}",
            "Email": "={{ $json.body.payload?.responses?.email?.value || $json.body.payload?.attendees[0]?.email }}",
            "Estado": "AGENDADA"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID Reserva",
              "displayName": "ID Reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Inicio",
              "displayName": "Fecha Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3d7a0174-1499-4162-a8b5-be2961d5f57f",
      "name": "Sheets: Registrar Nueva",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2320,
        608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uniCNvqoYoprQPic",
          "name": "SHEET INFO.HOLDINGS"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU",
          "mode": "list",
          "cachedResultName": "Control de Citas LunaCal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha Inicio": "={{ $node[\"Webhook LunaCal\"].json.body.payload.startTime }}",
            "Teléfono": "={{ $json.body.payload.responses?.[ 'attendee-phone' ]?.value || $json.body.payload.attendees[0]?.phoneNumber || '' }}",
            "Email": "={{ $node[\"Webhook LunaCal\"].json.body.payload?.responses?.email?.value || $node[\"Webhook LunaCal\"].json.body.payload?.attendees[0]?.email }}",
            "Nombre": "={{ $json.body.payload.responses?.name?.value || $json.body.payload.attendees[0]?.name || 'Cliente' }}",
            "ID Reserva": "={{ $node[\"Webhook LunaCal\"].json.body.payload.bookingId }}",
            "Estado": "REPROGRAMADA"
          },
          "matchingColumns": [
            "ID Reserva"
          ],
          "schema": [
            {
              "id": "ID Reserva",
              "displayName": "ID Reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Inicio",
              "displayName": "Fecha Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b0d16688-8137-480e-8f77-46691917d7c7",
      "name": "Sheets: Marcar Reagendada",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2320,
        1024
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uniCNvqoYoprQPic",
          "name": "SHEET INFO.HOLDINGS"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU",
          "mode": "list",
          "cachedResultName": "Control de Citas LunaCal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha Inicio": "={{ $json.body.payload.startTime }}",
            "Teléfono": "={{ $json.body.payload.responses?.[ 'attendee-phone' ]?.value || $json.body.payload.attendees[0]?.phoneNumber || '' }}",
            "Email": "={{ $json.body.payload?.responses?.email?.value || $json.body.payload?.attendees[0]?.email }}",
            "Nombre": "={{ $json.body.payload?.responses?.name?.value || $json.body.payload?.attendees[0]?.name || 'Cliente' }}",
            "ID Reserva": "={{ $json.body.payload.bookingId }}",
            "Estado": "CANCELADA"
          },
          "matchingColumns": [
            "ID Reserva"
          ],
          "schema": [
            {
              "id": "ID Reserva",
              "displayName": "ID Reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Inicio",
              "displayName": "Fecha Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8c5f79b5-365b-419f-96c2-c2d91855380e",
      "name": "Sheets: Marcar Cancelada",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2320,
        1360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uniCNvqoYoprQPic",
          "name": "SHEET INFO.HOLDINGS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/nvF71dsb2bzCqXNfgOYr",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ Math.floor(Math.random() * 1000000).toString() }}\",\n  \"data\": {\n    \"number\": \"{{ $json.Teléfono.toString().replace('+', '') }}\",\n    \"name\": \"{{ $json.Nombre || 'Cliente' }}\",\n    \"email\": \"{{ $json.Email }}\",\n    \"tipo_mensaje\": \"cancelacion\"\n  },\n  \"version\": \"1.0.0\"\n}",
        "options": {}
      },
      "id": "91740a26-e855-4aea-9293-20a68c339ed2",
      "name": "Unichat: Confirmación",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2064,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/nvF71dsb2bzCqXNfgOYr",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.body.payload.responses?.name?.value || $json.body.payload.attendees[0]?.name || 'Cliente' }}\",\n  \"email\": \"{{ $json.body.payload.responses?.email?.value || $json.body.payload.attendees[0]?.email }}\",\n  \"phone\": \"{{ $json.body.payload.responses?.[ 'attendee-phone' ]?.value || $json.body.payload.attendees[0]?.phoneNumber || '' }}\",\n  \"tipo_mensaje\": \"reagendamiento\"\n}",
        "options": {}
      },
      "id": "05b7c6f6-8393-47cf-b90a-726beab1320a",
      "name": "Unichat: Reagendado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1808,
        1024
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/TZvorrJBIJZPSquezvL5",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.Nombre }}\",\n  \"email\": \"{{ $json.Email }}\",\n  \"phone\": \"{{ $json.Teléfono.replace('+', '') }}\",\n  \"tipo_mensaje\": \"cancelacion\"\n}",
        "options": {}
      },
      "id": "fd8938c8-9bec-4874-9c72-4e3cb3537197",
      "name": "Unichat: Cancelado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2064,
        1360
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Webhook LunaCal').item.json.body.payload.startTime.toDateTime().minus({ minutes: 10 }) }}"
      },
      "id": "28cc83ac-aa73-4173-bec5-f76f48306dcd",
      "name": "Esperar hasta 10 min antes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1552,
        912
      ],
      "webhookId": "3dd850fc-3727-4794-a2d3-42ea23c240c4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU",
          "mode": "list",
          "cachedResultName": "Control de Citas LunaCal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID Reserva",
              "lookupValue": "={{ $('Webhook LunaCal').item.json.body.payload.bookingId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b274f042-dc27-4e92-b4d6-55b12cc39fc4",
      "name": "Sheets: Consultar Estado Actual",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1328,
        912
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uniCNvqoYoprQPic",
          "name": "SHEET INFO.HOLDINGS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Estado }}",
              "operation": "notEqual",
              "value2": "CANCELADA"
            }
          ]
        }
      },
      "id": "24238607-d328-4d42-b571-ccc3d045bbaa",
      "name": "¿Sigue Activa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1104,
        912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/nvF71dsb2bzCqXNfgOYr",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Webhook LunaCal').item.json.body.payload.responses?.name?.value || $('Webhook LunaCal').item.json.body.payload.attendees[0]?.name || 'Cliente' }}\",\n  \"email\": \"{{ $('Webhook LunaCal').item.json.body.payload.responses?.email?.value || $('Webhook LunaCal').item.json.body.payload.attendees[0]?.email }}\",\n  \"phone\": \"{{ $('Webhook LunaCal').item.json.body.payload.responses?.[ 'attendee-phone' ]?.value || $('Webhook LunaCal').item.json.body.payload.attendees[0]?.phoneNumber || '' }}\",\n  \"tipo_mensaje\": \"recordatorio\"\n}",
        "options": {}
      },
      "id": "3347b041-e2c8-47a9-b991-b5b636681333",
      "name": "Unichat: Recordatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        880
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU",
          "mode": "list",
          "cachedResultName": "Control de Citas LunaCal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AVjq5VQYZ4ThXM3EP4idqApBuWO1y8Mlui2E7Oiw2KU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha Inicio": "={{ $json.body.payload.startTime }}",
            "Teléfono": "={{ $json.body.payload.responses?.[ 'attendee-phone' ]?.value || $json.body.payload.attendees[0]?.phoneNumber || '' }}",
            "Email": "={{ $json.body.payload?.responses?.email?.value || $json.body.payload?.attendees[0]?.email }}",
            "Nombre": "={{ $json.body.payload.responses?.name?.value || $json.body.payload.attendees[0]?.name || 'Cliente' }}",
            "ID Reserva": "={{ $json.body.payload.bookingId }}",
            "Estado": "REPROGRAMADA"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID Reserva",
              "displayName": "ID Reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Inicio",
              "displayName": "Fecha Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "eebff7b1-c71b-42de-a5e6-f6c66b9aa97c",
      "name": "Sheets: Registrar Nueva Fecha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2064,
        1024
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uniCNvqoYoprQPic",
          "name": "SHEET INFO.HOLDINGS"
        }
      }
    }
  ],
  "pinData": {
    "Webhook LunaCal": [
      {
        "json": {
          "headers": {
            "host": "contenedor1-n8n.vqn37t.easypanel.host",
            "user-agent": "undici",
            "content-length": "3074",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "baggage": "sentry-environment=production,sentry-release=bbRwxWxjgZS2MD2a_bXVn,sentry-public_key=b9fd22ac20bb04166f4fec750f5c0f6f,sentry-trace_id=a037268848cc443ca0ac2c82ba449f2b,sentry-sample_rate=0.1,sentry-transaction=POST%20%2Fapi%2Fcancel,sentry-sampled=false",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "sentry-trace": "a037268848cc443ca0ac2c82ba449f2b-88aef631cc111a7e-0",
            "x-forwarded-for": "52.224.89.233",
            "x-forwarded-host": "contenedor1-n8n.vqn37t.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "ca87c8df81ee",
            "x-lunacal-signature-256": "no-secret-provided",
            "x-real-ip": "52.224.89.233"
          },
          "params": {},
          "query": {},
          "body": {
            "triggerEvent": "BOOKING_CANCELLED",
            "createdAt": "2026-05-29T19:27:45.613Z",
            "payload": {
              "title": "Reunión inicial con BE Online entre BE Online y Andres",
              "eventTypeTitle": "Reunión inicial con BE Online",
              "type": "Reunión inicial con BE Online",
              "customInputs": {},
              "eventTypeId": 16609,
              "userFieldsResponses": {
                "attendee-phone": {
                  "label": "Número de WhatsApp",
                  "value": "+573052342418",
                  "isHidden": false
                },
                "guests": {
                  "label": "Agrega invitados",
                  "value": [],
                  "isHidden": false
                },
                "title": {
                  "label": "what_is_this_meeting_about",
                  "isHidden": true
                },
                "notes": {
                  "label": "form_comments",
                  "isHidden": true
                }
              },
              "responses": {
                "name": {
                  "label": "your_name",
                  "value": "Andres",
                  "isHidden": false
                },
                "attendee-phone": {
                  "label": "Número de WhatsApp",
                  "value": "+573052342418",
                  "isHidden": false
                },
                "email": {
                  "label": "Correo electrónico",
                  "value": "arendo210@gmail.com",
                  "isHidden": false
                },
                "location": {
                  "label": "location",
                  "value": {
                    "optionValue": "",
                    "value": "integrations:google:meet"
                  },
                  "isHidden": false
                },
                "guests": {
                  "label": "Agrega invitados",
                  "value": [],
                  "isHidden": false
                },
                "title": {
                  "label": "what_is_this_meeting_about",
                  "isHidden": true
                },
                "notes": {
                  "label": "form_comments",
                  "isHidden": true
                },
                "rescheduleReason": {
                  "label": "reason_for_reschedule",
                  "isHidden": false
                },
                "cancellationReason": {
                  "label": "cancellation_reason",
                  "isHidden": false
                },
                "phone": {
                  "label": "your_phone_number",
                  "isHidden": true
                }
              },
              "startTime": "2026-06-22T21:00:00+00:00",
              "endTime": "2026-06-22T22:00:00+00:00",
              "organizer": {
                "id": 8890,
                "username": "beonline",
                "email": "info@beonlineholdings.com",
                "name": "Andres Rendon",
                "timeZone": "America/Bogota",
                "timeFormat": "h:mma",
                "language": {
                  "locale": "en"
                },
                "utcOffset": -300
              },
              "attendees": [
                {
                  "name": "Andres",
                  "email": "arendo210@gmail.com",
                  "phoneNumber": "+573052342418",
                  "timeZone": "America/Bogota",
                  "language": {
                    "locale": "es"
                  },
                  "bookingSeat": null,
                  "utcOffset": -300
                }
              ],
              "uid": "1JgxxdfZaj7sZ5DgtqReVF",
              "bookingId": 78493,
              "location": "integrations:google:meet",
              "destinationCalendar": [
                {
                  "id": 7889,
                  "integration": "google_calendar",
                  "externalId": "info@beonlineholdings.com",
                  "userId": 8890,
                  "eventTypeId": null,
                  "credentialId": 19183,
                  "primaryEmail": "info@beonlineholdings.com"
                }
              ],
              "cancellationReason": "",
              "team": {
                "name": "BE Online",
                "members": [
                  {
                    "name": "BE Online",
                    "email": "beonlineagencia@gmail.com",
                    "timeZone": "America/Bogota",
                    "language": {
                      "locale": "en"
                    },
                    "bookingSeat": null
                  }
                ],
                "id": 1930
              },
              "seatsPerTimeSlot": null,
              "seatsShowAttendees": false,
              "iCalUID": "1JgxxdfZaj7sZ5DgtqReVF@Lunacal",
              "iCalSequence": 1,
              "additionalInformation": {},
              "willLunacalTriggerEmail": false,
              "eventTitle": "Reunión inicial con BE Online",
              "eventDescription": "Estamos muy emocionados de poder comenzar trabajar con tu proyecto. Separa el espacio que más se acomode a tu agenda para que podamos reunirnos y explicarte nuestro plan de acción y metodología de trabajo.\n\n_****Nota:****_ _los espacios en gris son los que están disponibles._",
              "requiresConfirmation": null,
              "price": null,
              "currency": "usd",
              "length": 60,
              "status": "CANCELLED",
              "isPhoneOnly": false,
              "rescheduleUrl": "https://lunacal.co/reschedule/1JgxxdfZaj7sZ5DgtqReVF",
              "cancelUrl": "https://lunacal.co/booking/1JgxxdfZaj7sZ5DgtqReVF?cancel=true&allRemainingBookings=false"
            }
          },
          "webhookUrl": "https://contenedor1-n8n.vqn37t.easypanel.host/webhook/lunacal-webhook",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "infoandresrendoncol",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-21T22:11:20.610Z",
      "createdAt": "2026-05-21T22:11:20.610Z",
      "role": "workflow:owner",
      "workflowId": "4jvCISKsF5IM88mK",
      "projectId": "4KmSbENK2cGxsjaf"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-09T13:27:14.723Z",
  "versionId": "23fdc473-de1a-4001-b9b8-f5afe1fe3ac7"
}