backup/2026/05/yTH1x6FpYYMBNBhy.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-20T21:26:56.000Z",
    "createdAt": "2026-05-20T21:26:47.337Z",
    "versionId": "226df732-9550-409a-86b9-89a0713553d9",
    "workflowId": "yTH1x6FpYYMBNBhy",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "compra-plan-alimentacion-14-05-2026",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "7b446bd2-a3b3-46b3-a4c6-27085ff33312",
        "name": "Webhook",
        "webhookId": "4eac4349-b6f8-475f-b296-eeacb8e3783c"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.data.purchase.recurrence_number.toString() }}",
                      "rightValue": "=1",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "89664292-7a36-4595-96d0-97843fd8eae7"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "3c07bcc3-aeca-4708-b928-7db24ed5c7c1",
                      "leftValue": "={{ $json.body.data.purchase.recurrence_number.toString() }}",
                      "rightValue": "=1",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          208,
          0
        ],
        "id": "0bc51224-eef7-4187-9ee3-e3eeb1d4bccd",
        "name": "Compra o renovación"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://unnichat.com.br/a/start/ygqSfESo29vUP1WWuHLi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"id\": \"{{ $json.id || Math.floor(Math.random() * 1000000).toString() }}\",\n  \"data\": {\n    \"number\": \"{{ $json.body.data.buyer.checkout_phone }}\",\n    \"tag\": \"global\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          496,
          -176
        ],
        "id": "87339d88-c641-449c-a20a-abab2bb86405",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://unnichat.com.br/a/start/QBThzAlOh0eNE7iHuX4a",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"id\": \"{{ $json.id || Math.floor(Math.random() * 1000000).toString() }}\",\n  \"data\": {\n    \"number\": \"{{ $json.body.data.buyer.checkout_phone }}\",\n    \"tag\": \"global\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          496,
          96
        ],
        "id": "8379ecf2-24c0-4146-8a87-7c7f71ccbee4",
        "name": "HTTP Request1"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Compra o renovación",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compra o renovación": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "BE Online",
    "name": "Version 226df732",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "226df732-9550-409a-86b9-89a0713553d9",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Compra o renovación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compra o renovación": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-14T15:04:30.043Z",
  "id": "yTH1x6FpYYMBNBhy",
  "isArchived": false,
  "meta": null,
  "name": "Envio 1:1 Compra PAM/MyMP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compra-plan-alimentacion-14-05-2026",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "7b446bd2-a3b3-46b3-a4c6-27085ff33312",
      "name": "Webhook",
      "webhookId": "4eac4349-b6f8-475f-b296-eeacb8e3783c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.purchase.recurrence_number.toString() }}",
                    "rightValue": "=1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "89664292-7a36-4595-96d0-97843fd8eae7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3c07bcc3-aeca-4708-b928-7db24ed5c7c1",
                    "leftValue": "={{ $json.body.data.purchase.recurrence_number.toString() }}",
                    "rightValue": "=1",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "0bc51224-eef7-4187-9ee3-e3eeb1d4bccd",
      "name": "Compra o renovación"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/ygqSfESo29vUP1WWuHLi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.id || Math.floor(Math.random() * 1000000).toString() }}\",\n  \"data\": {\n    \"number\": \"{{ $json.body.data.buyer.checkout_phone }}\",\n    \"tag\": \"global\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        -176
      ],
      "id": "87339d88-c641-449c-a20a-abab2bb86405",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/QBThzAlOh0eNE7iHuX4a",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.id || Math.floor(Math.random() * 1000000).toString() }}\",\n  \"data\": {\n    \"number\": \"{{ $json.body.data.buyer.checkout_phone }}\",\n    \"tag\": \"global\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        96
      ],
      "id": "8379ecf2-24c0-4146-8a87-7c7f71ccbee4",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "infoandresrendoncol",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-14T15:04:30.051Z",
      "createdAt": "2026-05-14T15:04:30.051Z",
      "role": "workflow:owner",
      "workflowId": "yTH1x6FpYYMBNBhy",
      "projectId": "4KmSbENK2cGxsjaf"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-20T21:26:47.336Z",
  "versionId": "226df732-9550-409a-86b9-89a0713553d9"
}