backup/2025/10/jSBIce7upVIrGoet.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "UTMS HTG - BF",
            "type": "main",
            "index": 0
          },
          {
            "node": "BUSQUEDA EN FLODESK",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXISTE FLODESK?1": {
      "main": [
        [
          {
            "node": "CREA E INSERTA EN SEGMENTO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INSERTA EN SEGMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSQUEDA EN FLODESK": {
      "main": [
        [
          {
            "node": "EXISTE FLODESK?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-15T15:04:21.410Z",
  "id": "jSBIce7upVIrGoet",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Black Friday - Registro - HTG",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "984ed71e-feed-42d9-89da-4b49ab592e14",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        16
      ],
      "id": "46215516-2f41-4c2e-bbb5-d1cd7c385b74",
      "name": "Webhook",
      "webhookId": "984ed71e-feed-42d9-89da-4b49ab592e14"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff9f56d5-3bdc-45e2-b7f3-5fec484a6f1c",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        16
      ],
      "id": "6047159a-e5c2-4326-b57c-5f935bf10c8f",
      "name": "EXISTE FLODESK?1"
    },
    {
      "parameters": {
        "url": "=https://api.flodesk.com/v1/subscribers/{{ $('Webhook').item.json.body.contact.email }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "N8N"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        16
      ],
      "id": "5cc52538-23f9-4950-b1d9-44d7c16ede0f",
      "name": "BUSQUEDA EN FLODESK",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "canJnALryvlEVLOA",
          "name": "FLODESK HTG"
        },
        "httpBasicAuth": {
          "id": "QvDqcChg1nnswrDt",
          "name": "FLODESK F&M"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.flodesk.com/v1/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "N8N"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"email\": \"{{ $('Webhook').item.json.body.contact.email }}\",\n    \"segment_ids\": [\n       \"68eae310134f6299fe5bf8b1\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -128
      ],
      "id": "dadc1759-51bc-4011-a548-6c432bc14958",
      "name": "CREA E INSERTA EN SEGMENTO",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "canJnALryvlEVLOA",
          "name": "FLODESK HTG"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.flodesk.com/v1/subscribers/{{ $json.id }}/segments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "N8N"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"segment_ids\": [\n       \"68eae310134f6299fe5bf8b1\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        128
      ],
      "id": "892bcd72-b757-457a-b79c-055fee903795",
      "name": "INSERTA EN SEGMENTO",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "canJnALryvlEVLOA",
          "name": "FLODESK HTG"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/Gp8FnKdfyBl89HG9fK1L",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.body.contact.id }}\",\n  \"data\": {\n    \"number\": \"{{ $json.body.contact.phone }}\",\n    \"createdAt\": \"{{ (new Date()).toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        240
      ],
      "id": "9cc21ace-ad5c-43f9-9491-af66d9a520e3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1pNhm8ZVyjnmgTbxHbWDWErchTYy807V8wAR9pxw6TlQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "UTMs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WtEpfJgRbJg9zFsihwfzCP-OxKUXbWD3VEj_HI2aNd8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EMAIL": "={{ $json.body.formValues[0].value }}",
            "TELEFONO": "={{ $json.body.formValues[1].value }}",
            "CAMPAÑA": "={{ $json.body.formValues[2].value }}",
            "FUENTE": "={{ $json.body.formValues[3].value }}",
            "MEDIO": "={{ $json.body.formValues[4].value }}",
            "TERMINO": "={{ $json.body.formValues[5].value }}",
            "CONTENIDO": "={{ $json.body.formValues[6].value }}",
            "FECHA": "={{ (new Date()).toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAMPAÑA",
              "displayName": "CAMPAÑA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FUENTE",
              "displayName": "FUENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDIO",
              "displayName": "MEDIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TERMINO",
              "displayName": "TERMINO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONTENIDO",
              "displayName": "CONTENIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        -208
      ],
      "id": "483ae6db-23a1-4e89-9aac-27bca627ab5f",
      "name": "UTMS HTG - BF",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RVzGPXmtbwg7e3zT",
          "name": "SHEET INFO.ANDRES"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "infoandresrendoncol",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-15T15:04:21.413Z",
      "updatedAt": "2025-10-15T15:04:21.413Z",
      "role": "workflow:owner",
      "workflowId": "jSBIce7upVIrGoet",
      "projectId": "4KmSbENK2cGxsjaf"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-15T15:22:57.000Z",
  "versionId": "84d65ec4-6dcf-4c00-8079-a592d7d2cadc"
}