backup/2025/10/kGnxERPjCVumHCtn.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-07T17:04:30.904Z",
    "createdAt": "2026-01-07T17:04:30.904Z",
    "versionId": "cba41d7d-769d-4845-acc0-f78b396a2271",
    "workflowId": "kGnxERPjCVumHCtn",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ac49fa34-4e04-42c2-a6d9-8d9c668bd985",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -192,
          16
        ],
        "id": "de3b09cd-feda-4ae0-8f20-4e3641d7963d",
        "name": "Webhook",
        "webhookId": "ac49fa34-4e04-42c2-a6d9-8d9c668bd985"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "ff9f56d5-3bdc-45e2-b7f3-5fec484a6f1c",
                "leftValue": "={{ $json.error.status }}",
                "rightValue": 404,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          480,
          16
        ],
        "id": "a64c76d1-4e3f-4f5e-a4cc-0ce1afdcc586",
        "name": "EXISTE FLODESK?1"
      },
      {
        "parameters": {
          "url": "=https://api.flodesk.com/v1/subscribers/{{ $('Webhook').item.json.body.contact.email }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "N8N"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          272,
          16
        ],
        "id": "d02955da-902a-4d14-8f39-775080354320",
        "name": "BUSQUEDA EN FLODESK",
        "retryOnFail": false,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "kKUglU2e7wIB487O",
            "name": "FLODESK LALA"
          },
          "httpBasicAuth": {
            "id": "QvDqcChg1nnswrDt",
            "name": "FLODESK F&M"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.flodesk.com/v1/subscribers",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "N8N"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"email\": \"{{ $('Webhook').item.json.body.contact.email }}\",\n    \"segment_ids\": [\n       \"68ec3aecd0c4eb79eb5aae3b\"\n    ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          688,
          -128
        ],
        "id": "794a0c8f-2449-4aaa-812c-a0ad97ab5498",
        "name": "CREA E INSERTA EN SEGMENTO",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "kKUglU2e7wIB487O",
            "name": "FLODESK LALA"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.flodesk.com/v1/subscribers/{{ $json.id }}/segments",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "N8N"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"segment_ids\": [\n       \"68ec3aecd0c4eb79eb5aae3b\"\n    ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          704,
          128
        ],
        "id": "adbc6ab1-aced-4d60-b2c5-374a0aaab887",
        "name": "INSERTA EN SEGMENTO",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "kKUglU2e7wIB487O",
            "name": "FLODESK LALA"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://automationsv2-g3svy7e4hq-rj.a.run.app/start/GEU6lkdXkwpweWjNWgVZ",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"id\": \"{{ $json.body.contact.id }}\",\n  \"data\": {\n    \"number\": \"{{ $json.body.contact.phone }}\",\n    \"createdAt\": \"{{ (new Date()).toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          272,
          240
        ],
        "id": "7b2d6c0a-69bd-43b0-bcc0-099a7648dba6",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/195oA5j_pklzYr2P1mMFhH851vsxYdRTp6MQV-VWJBJY/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "UTMs",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WtEpfJgRbJg9zFsihwfzCP-OxKUXbWD3VEj_HI2aNd8/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "EMAIL": "={{ $json.body.formValues[0].value }}",
              "TELEFONO": "={{ $json.body.formValues[1].value }}",
              "CAMPAÑA": "={{ $json.body.formValues[2].value }}",
              "FUENTE": "={{ $json.body.formValues[3].value }}",
              "MEDIO": "={{ $json.body.formValues[4].value }}",
              "TERMINO": "={{ $json.body.formValues[5].value }}",
              "CONTENIDO": "={{ $json.body.formValues[6].value }}",
              "FECHA": "={{ (new Date()).toISOString() }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "EMAIL",
                "displayName": "EMAIL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TELEFONO",
                "displayName": "TELEFONO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CAMPAÑA",
                "displayName": "CAMPAÑA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "FUENTE",
                "displayName": "FUENTE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "MEDIO",
                "displayName": "MEDIO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TERMINO",
                "displayName": "TERMINO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CONTENIDO",
                "displayName": "CONTENIDO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "FECHA",
                "displayName": "FECHA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          272,
          -208
        ],
        "id": "6bd9b8c4-0a90-47ba-9fb7-84b862193200",
        "name": "UTMS LALA - BF",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RVzGPXmtbwg7e3zT",
            "name": "SHEET INFO.ANDRES"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "UTMS LALA - BF",
              "type": "main",
              "index": 0
            },
            {
              "node": "BUSQUEDA EN FLODESK",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "EXISTE FLODESK?1": {
        "main": [
          [
            {
              "node": "CREA E INSERTA EN SEGMENTO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "INSERTA EN SEGMENTO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BUSQUEDA EN FLODESK": {
        "main": [
          [
            {
              "node": "EXISTE FLODESK?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "cba41d7d-769d-4845-acc0-f78b396a2271",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "UTMS LALA - BF",
            "type": "main",
            "index": 0
          },
          {
            "node": "BUSQUEDA EN FLODESK",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXISTE FLODESK?1": {
      "main": [
        [
          {
            "node": "CREA E INSERTA EN SEGMENTO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INSERTA EN SEGMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSQUEDA EN FLODESK": {
      "main": [
        [
          {
            "node": "EXISTE FLODESK?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-14T16:58:32.304Z",
  "id": "kGnxERPjCVumHCtn",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Black Friday - Registro - Lala",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ac49fa34-4e04-42c2-a6d9-8d9c668bd985",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        16
      ],
      "id": "de3b09cd-feda-4ae0-8f20-4e3641d7963d",
      "name": "Webhook",
      "webhookId": "ac49fa34-4e04-42c2-a6d9-8d9c668bd985"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff9f56d5-3bdc-45e2-b7f3-5fec484a6f1c",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        16
      ],
      "id": "a64c76d1-4e3f-4f5e-a4cc-0ce1afdcc586",
      "name": "EXISTE FLODESK?1"
    },
    {
      "parameters": {
        "url": "=https://api.flodesk.com/v1/subscribers/{{ $('Webhook').item.json.body.contact.email }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "N8N"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        16
      ],
      "id": "d02955da-902a-4d14-8f39-775080354320",
      "name": "BUSQUEDA EN FLODESK",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kKUglU2e7wIB487O",
          "name": "FLODESK LALA"
        },
        "httpBasicAuth": {
          "id": "QvDqcChg1nnswrDt",
          "name": "FLODESK F&M"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.flodesk.com/v1/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "N8N"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"email\": \"{{ $('Webhook').item.json.body.contact.email }}\",\n    \"segment_ids\": [\n       \"68ec3aecd0c4eb79eb5aae3b\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -128
      ],
      "id": "794a0c8f-2449-4aaa-812c-a0ad97ab5498",
      "name": "CREA E INSERTA EN SEGMENTO",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kKUglU2e7wIB487O",
          "name": "FLODESK LALA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.flodesk.com/v1/subscribers/{{ $json.id }}/segments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "N8N"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"segment_ids\": [\n       \"68ec3aecd0c4eb79eb5aae3b\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        128
      ],
      "id": "adbc6ab1-aced-4d60-b2c5-374a0aaab887",
      "name": "INSERTA EN SEGMENTO",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kKUglU2e7wIB487O",
          "name": "FLODESK LALA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automationsv2-g3svy7e4hq-rj.a.run.app/start/GEU6lkdXkwpweWjNWgVZ",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.body.contact.id }}\",\n  \"data\": {\n    \"number\": \"{{ $json.body.contact.phone }}\",\n    \"createdAt\": \"{{ (new Date()).toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        240
      ],
      "id": "7b2d6c0a-69bd-43b0-bcc0-099a7648dba6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/195oA5j_pklzYr2P1mMFhH851vsxYdRTp6MQV-VWJBJY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "UTMs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WtEpfJgRbJg9zFsihwfzCP-OxKUXbWD3VEj_HI2aNd8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EMAIL": "={{ $json.body.formValues[0].value }}",
            "TELEFONO": "={{ $json.body.formValues[1].value }}",
            "CAMPAÑA": "={{ $json.body.formValues[2].value }}",
            "FUENTE": "={{ $json.body.formValues[3].value }}",
            "MEDIO": "={{ $json.body.formValues[4].value }}",
            "TERMINO": "={{ $json.body.formValues[5].value }}",
            "CONTENIDO": "={{ $json.body.formValues[6].value }}",
            "FECHA": "={{ (new Date()).toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAMPAÑA",
              "displayName": "CAMPAÑA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FUENTE",
              "displayName": "FUENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDIO",
              "displayName": "MEDIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TERMINO",
              "displayName": "TERMINO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONTENIDO",
              "displayName": "CONTENIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        -208
      ],
      "id": "6bd9b8c4-0a90-47ba-9fb7-84b862193200",
      "name": "UTMS LALA - BF",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RVzGPXmtbwg7e3zT",
          "name": "SHEET INFO.ANDRES"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "infoandresrendoncol",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-14T16:58:32.309Z",
      "createdAt": "2025-10-14T16:58:32.309Z",
      "role": "workflow:owner",
      "workflowId": "kGnxERPjCVumHCtn",
      "projectId": "4KmSbENK2cGxsjaf"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-15T14:56:13.000Z",
  "versionId": "cba41d7d-769d-4845-acc0-f78b396a2271"
}