backup/2025/09/5KOjxG1Yik5HclB9.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Completada/aprobada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Completada/aprobada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Abandono de carrito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Vencida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T15:25:49.763Z",
  "id": "5KOjxG1Yik5HclB9",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Eventos de Checkout - Sexo & Espiritualidad",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotmart-sexoespiritualidad-lanzamiento-0925",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        32
      ],
      "id": "9d59c2bd-2615-470a-8719-7771e3c567a9",
      "name": "Webhook",
      "webhookId": "f5ab8f94-35f5-41b7-8789-52bc6f8708ce"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_BILLET_PRINTED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "26888965-7100-40a1-a8b3-eef968b28b2a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84306705-0989-4d36-b59a-f5972aebfeb8",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_COMPLETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c52240a-4074-4ae3-90b9-f1000c18948a",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_APPROVED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5aee3900-62ec-49db-95f7-2414abffbb70",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_CANCELED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "46cbfbb2-61e7-49af-b098-78314696d446",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_OUT_OF_SHOPPING_CART",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec18ffb3-1644-45dc-8f3a-a6238c654d83",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_DELAYED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        288,
        -32
      ],
      "id": "c3abf706-2998-463c-b54b-0aa07f2fbc59",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1P2EpOlcnRRh5cVBeFlgUN14j-jolaixcfhqCfUV1sXY/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 142436313,
          "mode": "list",
          "cachedResultName": "Compra Completada / Aprobada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OtbxMYwbPCxTrLCQ3sll1hPa_Nm-nhlEEd5nFt8kKgM/edit#gid=142436313"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha ": "={{ $json.body.data.product.warranty_date }}",
            "Método de pago": "={{ $json.body.data.purchase.payment.type }}",
            "Estado": "={{ $json.body.data.purchase.status }}",
            "Códigos de la transacción": "={{ $json.body.data.purchase.transaction }}",
            "Nombre": "={{ $json.body.data.buyer.name }}",
            "Email": "={{ $json.body.data.buyer.email }}",
            "Teléfono ": "={{ $json.body.data.buyer.checkout_phone }}",
            "Pais": "={{ $json.body.data.buyer.address.country }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha ",
              "displayName": "Fecha ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Códigos de la transacción",
              "displayName": "Códigos de la transacción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Método de pago",
              "displayName": "Método de pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono ",
              "displayName": "Teléfono ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pais",
              "displayName": "Pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Observación",
              "displayName": "Observación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        -128
      ],
      "id": "3e7e299b-5c97-4f20-83d2-c85b022b9199",
      "name": "Completada/aprobada",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R31ACEuQOmKqG1CQ",
          "name": "Google Sheets Wildersmx"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1P2EpOlcnRRh5cVBeFlgUN14j-jolaixcfhqCfUV1sXY/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 47055195,
          "mode": "list",
          "cachedResultName": "Compra cancelada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OtbxMYwbPCxTrLCQ3sll1hPa_Nm-nhlEEd5nFt8kKgM/edit#gid=47055195"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha ": "={{ $json.body.data.product.warranty_date }}",
            "Nombre": "={{ $json.body.data.buyer.name }}",
            "Email": "={{ $json.body.data.buyer.email }}",
            "Teléfono ": "={{ $json.body.data.buyer.checkout_phone }}",
            "Pais": "={{ $json.body.data.buyer.address.country }}",
            "Estado": "={{ $json.body.data.purchase.status }}",
            "Códigos de la transacción": "={{ $json.body.data.purchase.transaction }}",
            "Método de pago": "={{ $json.body.data.purchase.payment.type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha ",
              "displayName": "Fecha ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Códigos de la transacción",
              "displayName": "Códigos de la transacción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Método de pago",
              "displayName": "Método de pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono ",
              "displayName": "Teléfono ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pais",
              "displayName": "Pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado del contacto",
              "displayName": "Estado del contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resultado",
              "displayName": "Resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Observación",
              "displayName": "Observación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        48
      ],
      "id": "a85a680e-f7e2-4a54-8b1a-0fce8badd35b",
      "name": "Cancelada",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R31ACEuQOmKqG1CQ",
          "name": "Google Sheets Wildersmx"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1P2EpOlcnRRh5cVBeFlgUN14j-jolaixcfhqCfUV1sXY/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Abandono de carrito",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OtbxMYwbPCxTrLCQ3sll1hPa_Nm-nhlEEd5nFt8kKgM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.body.data.buyer.name }}",
            "Email": "={{ $json.body.data.buyer.email }}",
            "Teléfono ": "={{ $json.body.data.buyer.phone }}",
            "Pais": "={{ $json.body.data.checkout_country.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha ",
              "displayName": "Fecha ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono ",
              "displayName": "Teléfono ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pais",
              "displayName": "Pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado del contacto",
              "displayName": "Estado del contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resultado",
              "displayName": "Resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Observación",
              "displayName": "Observación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        208
      ],
      "id": "5cfb94f3-25af-4792-9413-153205513274",
      "name": "Abandono de carrito",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R31ACEuQOmKqG1CQ",
          "name": "Google Sheets Wildersmx"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1P2EpOlcnRRh5cVBeFlgUN14j-jolaixcfhqCfUV1sXY/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        352
      ],
      "id": "a6cfe831-f250-4751-b3ce-d2f3af825e88",
      "name": "Vencida",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R31ACEuQOmKqG1CQ",
          "name": "Google Sheets Wildersmx"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1P2EpOlcnRRh5cVBeFlgUN14j-jolaixcfhqCfUV1sXY/edit?gid=215798762#gid=215798762",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        -320
      ],
      "id": "b53e07b0-0779-4cb3-8cb9-d42c3e6bd8d5",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R31ACEuQOmKqG1CQ",
          "name": "Google Sheets Wildersmx"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "infoandresrendoncol",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-09-24T15:25:49.767Z",
      "createdAt": "2025-09-24T15:25:49.767Z",
      "role": "workflow:owner",
      "workflowId": "5KOjxG1Yik5HclB9",
      "projectId": "4KmSbENK2cGxsjaf"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-24T16:03:33.000Z",
  "versionId": "59e4596b-ee41-492e-8992-b7459da6b7a6"
}