backup/2026/04/7XrihrvNCRRt78Ja.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Conteo de leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agregar a Flodesk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agregar contacto Unnichat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar a Flodesk": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-21T15:55:40.929Z",
  "id": "7XrihrvNCRRt78Ja",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Lala - Compra - API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "71523cd1-256a-4bcb-8bcd-da6c55fa458f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        16
      ],
      "id": "47e067ab-f478-459f-ba1f-401ac15bdee9",
      "name": "Webhook",
      "webhookId": "71523cd1-256a-4bcb-8bcd-da6c55fa458f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/b4FqOHX4MHJV7In7GznS",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.id || Math.floor(Math.random() * 1000000).toString() }}\",\n  \"data\": {\n    \"number\": \"{{ $json.body.data.buyer.checkout_phone }}\",\n    \"tag\": \"global\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        224
      ],
      "id": "273fda13-5961-43bd-a206-b8fe6189a834",
      "name": "Agregar contacto Unnichat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.flodesk.com/v1/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.body.data.buyer.email }}\",\n  \"first_name\": \"{{ $json.body.data.buyer.name }}\",\n  \"segment_ids\": [\"69c5806a2ef02eec3b35105a\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        16
      ],
      "id": "8f82cf5c-90ab-451c-9964-8175b1d01ee0",
      "name": "Agregar a Flodesk",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hSaP4d59L4OoJOce",
          "name": "Flodesk Alex"
        },
        "httpBasicAuth": {
          "id": "SAnNYgEFTv4K59IE",
          "name": "FLODESK LALA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-MvhcP3xpSc4xiZa58vWkb9yuceSXG7RmLcqMYHgBD8/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 93963176,
          "mode": "list",
          "cachedResultName": "Premium",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MvhcP3xpSc4xiZa58vWkb9yuceSXG7RmLcqMYHgBD8/edit#gid=93963176"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EMAIL": "={{ $json.body.data.buyer.email }}",
            "TELEFONO": "={{ $json.body.data.buyer.checkout_phone }}",
            "FECHA": "={{ $now.setZone('America/Bogota').toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "PAÍS": "={{ $json.body.data.buyer.address.country }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PAÍS",
              "displayName": "PAÍS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -208
      ],
      "id": "02aa493e-eb27-4ca1-a80d-bacc038ecc66",
      "name": "Conteo de leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RVzGPXmtbwg7e3zT",
          "name": "SHEET INFO.ANDRES"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.flodesk.com/v1/subscribers/{{ $json.email }}/segments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"segment_ids\": [\"69c58061f3c17d36d34ee3ff\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        16
      ],
      "id": "4f558c21-5685-41b3-be03-6552e910687c",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "SAnNYgEFTv4K59IE",
          "name": "FLODESK LALA"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "contenedor1-n8n.vqn37t.easypanel.host",
            "user-agent": "Jodd HTTP",
            "content-length": "2284",
            "content-type": "application/json",
            "x-forwarded-for": "98.92.47.135",
            "x-forwarded-host": "contenedor1-n8n.vqn37t.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "730fdd9182ea",
            "x-hotmart-hottok": "p3pyMTUj7l7z86JGfalI9JMXTpiyBq85599017-fc1a-4b36-9723-828cee66c3e2",
            "x-real-ip": "98.92.47.135",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "support_email": "support@hotmart.com.br",
                "has_co_production": false,
                "name": "Produto test postback2",
                "warranty_date": "2017-12-27T00:00:00Z",
                "is_physical_product": false,
                "id": 0,
                "ucode": "fb056612-bcc6-4217-9e6d-2a5d1110ac2f",
                "content": {
                  "has_physical_products": true,
                  "products": [
                    {
                      "name": "How to Make Clear Ice",
                      "is_physical_product": false,
                      "id": 4774438,
                      "ucode": "559fef42-3406-4d82-b775-d09bd33936b1"
                    },
                    {
                      "name": "Organizador de Poeira",
                      "is_physical_product": true,
                      "id": 4999597,
                      "ucode": "099e7644-b7d1-43d6-82a9-ec6be0118a4b"
                    }
                  ]
                }
              },
              "commissions": [
                {
                  "currency_value": "BRL",
                  "source": "MARKETPLACE",
                  "value": 149.5
                },
                {
                  "currency_value": "BRL",
                  "source": "PRODUCER",
                  "value": 1350.5
                }
              ],
              "purchase": {
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "sckPaymentLink": "sckPaymentLinkTest",
                "order_bump": {
                  "parent_purchase_transaction": "HP02316330308193",
                  "is_order_bump": true
                },
                "approved_date": 1511783346000,
                "offer": {
                  "code": "test",
                  "coupon_code": "SHHUHA"
                },
                "is_funnel": false,
                "event_tickets": {
                  "amount": 1771092373944
                },
                "order_date": 1511783344000,
                "price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "buyer_ip": "00.00.00.00",
                "payment": {
                  "installments_number": 12,
                  "type": "CREDIT_CARD"
                },
                "full_price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "business_model": "I",
                "transaction": "HP16015479281022",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "Q58388177J",
                  "name": "Affiliate name"
                }
              ],
              "producer": {
                "legal_nature": "Pessoa Física",
                "document": "12345678965",
                "name": "Producer Test Name"
              },
              "subscription": {
                "subscriber": {
                  "code": "I9OT62C3"
                },
                "plan": {
                  "name": "plano de teste",
                  "id": 123
                },
                "status": "ACTIVE"
              },
              "buyer": {
                "checkout_phone_code": "999999999",
                "address": {
                  "zipcode": "38400123",
                  "country": "Brasil",
                  "number": "10",
                  "address": "Avenida Francisco Galassi",
                  "city": "Uberlândia",
                  "state": "Minas Gerais",
                  "neighborhood": "Tubalina",
                  "complement": "Perto do shopping",
                  "country_iso": "BR"
                },
                "document": "69526128664",
                "name": "Teste Comprador",
                "last_name": "Comprador",
                "checkout_phone": "99999999900",
                "first_name": "Teste",
                "email": "marianaecheverri0206@outlook.com",
                "document_type": "CPF"
              }
            },
            "hottok": "p3pyMTUj7l7z86JGfalI9JMXTpiyBq85599017-fc1a-4b36-9723-828cee66c3e2",
            "id": "487a219b-e179-4292-b947-7e7e4c231dc1",
            "creation_date": 1771092373953,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          },
          "webhookUrl": "https://contenedor1-n8n.vqn37t.easypanel.host/webhook-test/premium-ADE",
          "executionMode": "test"
        }
      }
    ]
  },
  "repo_name": "backupn8n",
  "repo_owner": "infoandresrendoncol",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-21T15:55:40.934Z",
      "createdAt": "2026-04-21T15:55:40.934Z",
      "role": "workflow:owner",
      "workflowId": "7XrihrvNCRRt78Ja",
      "projectId": "4KmSbENK2cGxsjaf"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-21T15:55:40.929Z",
  "versionId": "e89be363-4535-464e-b616-1353e5996c00"
}