backup/2026/04/KNg0D06iJSwiXj9P.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-27T21:40:09.000Z",
    "createdAt": "2026-04-27T21:27:13.706Z",
    "versionId": "375f82d2-e3a7-4acf-be18-c1d90b53b1f4",
    "workflowId": "KNg0D06iJSwiXj9P",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ventas-eth-alexandra",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -192,
          16
        ],
        "id": "aece4126-45e8-491c-9dbd-f51febd50ebd",
        "name": "Webhook",
        "webhookId": "8d5f3f4b-9d21-481f-a1d4-4ea50055fd51"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://unnichat.com.br/a/start/xc4Dz3RtYH411fatCS3s",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"data\": {\n    \"number\": \"{{ $json.body.data.buyer.checkout_phone }}\",\n    \"tag\": \"global\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          128
        ],
        "id": "367f56c2-c68d-46c3-bb67-56f9b31cbd31",
        "name": "Agregar contacto Unnichat"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.flodesk.com/v1/subscribers",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"email\": \"{{ $json.body.data.buyer.email }}\",\n  \"first_name\": \"{{ $json.body.data.buyer.name }}\",\n  \"segment_ids\": [\"69efbc17f903ab662fe54af8\"]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          208,
          -128
        ],
        "id": "1f4dafd1-5f4c-477d-8f4b-213a6299a9af",
        "name": "Agregar a Flodesk",
        "retryOnFail": false,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "hSaP4d59L4OoJOce",
            "name": "Flodesk Alex"
          },
          "httpBasicAuth": {
            "id": "QvDqcChg1nnswrDt",
            "name": "FLODESK ALEX"
          }
        },
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Agregar a Flodesk",
              "type": "main",
              "index": 0
            },
            {
              "node": "Agregar contacto Unnichat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agregar a Flodesk": {
        "main": [
          []
        ]
      }
    },
    "nodeGroups": [],
    "authors": "BE Online",
    "name": "Version 375f82d2",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "375f82d2-e3a7-4acf-be18-c1d90b53b1f4",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Aprobado / Cancelado - Reembolsado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar a Flodesk": {
      "main": [
        []
      ]
    },
    "Aprobado / Cancelado - Reembolsado": {
      "main": [
        [
          {
            "node": "Agregar a Flodesk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agregar contacto Unnichat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-27T19:39:00.526Z",
  "id": "KNg0D06iJSwiXj9P",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Alexandra - Ventas - ETH",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ventas-eth-alexandra",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        16
      ],
      "id": "aece4126-45e8-491c-9dbd-f51febd50ebd",
      "name": "Webhook",
      "webhookId": "8d5f3f4b-9d21-481f-a1d4-4ea50055fd51"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/xc4Dz3RtYH411fatCS3s",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"number\": \"{{ $json.body.data.buyer.checkout_phone }}\",\n    \"tag\": \"global\",\n    \"createdAt\": \"{{ new Date().toISOString() }}\"\n  },\n  \"version\": \"1.0.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -336
      ],
      "id": "367f56c2-c68d-46c3-bb67-56f9b31cbd31",
      "name": "Agregar contacto Unnichat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.flodesk.com/v1/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.body.data.buyer.email }}\",\n  \"first_name\": \"{{ $json.body.data.buyer.name }}\",\n  \"segment_ids\": [\"69efbc17f903ab662fe54af8\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        -336
      ],
      "id": "1f4dafd1-5f4c-477d-8f4b-213a6299a9af",
      "name": "Agregar a Flodesk",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hSaP4d59L4OoJOce",
          "name": "Flodesk Alex"
        },
        "httpBasicAuth": {
          "id": "QvDqcChg1nnswrDt",
          "name": "FLODESK ALEX"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_APPROVED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4d58b8ff-ed09-4b42-9f66-a22137c1c29a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "54484fe3-6fd8-4f3d-b47e-210225671768",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_REFUNDED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9f9328ea-d47b-4cd9-9911-094d55462d1a",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "SUBSCRIPTION_CANCELED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -16,
        0
      ],
      "id": "a534c8b8-e4d2-4ae1-b2c2-7ff8ecd97ac8",
      "name": "Aprobado / Cancelado - Reembolsado"
    }
  ],
  "pinData": {},
  "repo_name": "backupn8n",
  "repo_owner": "infoandresrendoncol",
  "repo_path": "backup/",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-27T19:39:00.537Z",
      "createdAt": "2026-04-27T19:39:00.537Z",
      "role": "workflow:owner",
      "workflowId": "KNg0D06iJSwiXj9P",
      "projectId": "4KmSbENK2cGxsjaf"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-17T21:56:18.068Z",
  "versionId": "689cce39-6eca-46c8-bfab-258525b6473e"
}